:root {
  --color-primary: #a60909;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'inter', 'monda', sans-serif;
  line-height: 1.2;
  font-weight: 400;
  max-width: 100%;
  overflow-x: hidden;
}
