/* QUERY */

/*112.5em = 1800px*/
@media only screen and (max-width: 112.5em) {
  .icon-gear1 img {
    transform: translate(23rem, 18rem);
  }

  @keyframes animate-gear1 {
    0% {
      transform: translate(23rem, 18rem);
    }

    50% {
      transform: translate(22rem, 17.6rem);
    }

    100% {
      transform: translate(23rem, 18rem);
    }
  }

  .icon-gear2 img {
    transform: translate(22rem, -11.4rem) rotateZ(30deg);
  }

  @keyframes animate-gear2 {
    0% {
      transform: translate(22rem, -11.4rem) rotateZ(30deg);
    }

    50% {
      transform: translate(22rem, -11.4rem) rotateZ(40deg);
    }

    100% {
      transform: translate(22rem, -11.4rem) translateZ(30deg);
    }
  }

  .icon-gear3 img {
    position: absolute;
    transform: translate(-236%, 100%) rotateZ(20deg);
    width: 16.8rem;
    animation: animate-gear3 10s infinite;
  }

  @keyframes animate-gear3 {
    0% {
      transform: translate(-236%, 100%) rotateZ(20deg);
    }

    50% {
      transform: translate(-230%, 100%) rotateZ(30deg);
    }

    100% {
      transform: translate(-236%, 100%) translateZ(20deg);
    }
  }
}

/*104.375em  = 1670px */
@media only screen and (max-width: 104.375em) {
  .icon-gear1 img {
    transform: translate(19.8rem, 18rem);
  }

  @keyframes animate-gear1 {
    0% {
      transform: translate(19.8rem, 18rem);
    }

    50% {
      transform: translate(21rem, 17.6rem);
    }

    100% {
      transform: translate(19.8rem, 18rem);
    }
  }

  .icon-gear2 img {
    transform: translate(22rem, -11.4rem) rotateZ(30deg);
  }

  @keyframes animate-gear2 {
    0% {
      transform: translate(22rem, -11.4rem) rotateZ(30deg);
    }

    50% {
      transform: translate(22rem, -11.4rem) rotateZ(40deg);
    }

    100% {
      transform: translate(22rem, -11.4rem) translateZ(30deg);
    }
  }

  .icon-gear3 img {
    position: absolute;
    transform: translate(-236%, 100%) rotateZ(20deg);
    width: 16.8rem;
    animation: animate-gear3 10s infinite;
  }

  @keyframes animate-gear3 {
    0% {
      transform: translate(-236%, 100%) rotateZ(20deg);
    }

    50% {
      transform: translate(-230%, 100%) rotateZ(30deg);
    }

    100% {
      transform: translate(-236%, 100%) translateZ(20deg);
    }
  }
}

/*100.625em = 1610px */
@media only screen and (max-width: 104.375em) {
  .icon-gear1 img {
    transform: translate(15.8rem, 18rem);
  }

  @keyframes animate-gear1 {
    0% {
      transform: translate(15.8rem, 18rem);
    }

    50% {
      transform: translate(16.4rem, 17.6rem);
    }

    100% {
      transform: translate(15.8rem, 18rem);
    }
  }

  .icon-gear2 img {
    transform: translate(19rem, -11.4rem) rotateZ(30deg);
  }

  @keyframes animate-gear2 {
    0% {
      transform: translate(19rem, -11.4rem) rotateZ(30deg);
    }

    50% {
      transform: translate(19rem, -11.4rem) rotateZ(40deg);
    }

    100% {
      transform: translate(19rem, -11.4rem) translateZ(30deg);
    }
  }

  .icon-gear3 img {
    position: absolute;
    transform: translate(-218%, 100%) rotateZ(20deg);
    width: 16.8rem;
    animation: animate-gear3 10s infinite;
  }

  @keyframes animate-gear3 {
    0% {
      transform: translate(-218%, 100%) rotateZ(20deg);
    }

    50% {
      transform: translate(-220%, 100%) rotateZ(30deg);
    }

    100% {
      transform: translate(-218%, 100%) translateZ(20deg);
    }
  }
}

/*95.625em = 1565px */
@media only screen and (max-width: 97.8125em) {
  .icon-gear2 img {
    transform: translate(16.4rem, -11.4rem) rotateZ(30deg);
  }

  @keyframes animate-gear2 {
    0% {
      transform: translate(16.4rem, -11.4rem) rotateZ(30deg);
    }

    50% {
      transform: translate(16.4rem, -11.4rem) rotateZ(40deg);
    }

    100% {
      transform: translate(16.4rem, -11.4rem) translateZ(30deg);
    }
  }

  /* Mv's query */
  .icon-mv2 img {
    position: absolute;
    transform: translate(44rem, 20rem) rotateZ(20deg);
    width: 36rem;
  }

  .icon-mv3 img {
    position: absolute;
    transform: translate(-20rem, 26rem) rotateZ(0deg);
    width: 26rem;
  }

  /* Video Query */
  .icon-video1 img {
    position: absolute;
    transform: translate(-76rem, 20rem) rotateZ(16deg);
    width: 22rem;
  }

  .icon-video2 img {
    position: absolute;
    transform: translate(10rem, -18rem) rotateZ(0deg);
    width: 23rem;
  }

  .icon-video3 img {
    position: absolute;
    transform: translate(-35rem, 18rem) rotateZ(0deg);
    width: 16.4rem;
  }
}

/*94.375em = 1510px */
@media only screen and (max-width: 97.8125em) {
  .background-3d {
    background-position: 56rem;
  }

  .background-2d {
    background-position: -2rem;
  }
  /* Icon */
  .icon-gear3 img {
    position: absolute;
    transform: translate(-210%, 100%) rotateZ(20deg);
    width: 16.8rem;
    animation: animate-gear3 10s infinite;
  }

  @keyframes animate-gear3 {
    0% {
      transform: translate(-210%, 100%) rotateZ(20deg);
    }

    50% {
      transform: translate(-212%, 100%) rotateZ(30deg);
    }

    100% {
      transform: translate(-210%, 100%) translateZ(20deg);
    }
  }
}

.icon-art1 img {
  transform: translate(20rem, -12rem) rotateZ(45deg);
  width: 18rem;
}

@keyframes animate-art1 {
  0% {
    transform: translate(20rem, -9rem) rotateZ(45deg);
  }

  50% {
    transform: translate(20rem, -9rem) rotateZ(25deg);
  }

  100% {
    transform: translate(20rem, -9rem) rotateZ(45deg);
  }
}

.icon-art2 img {
  position: absolute;
  transform: translate(18rem, 16rem) rotateZ(20deg);
  width: 18rem;
}

.icon-art3 img {
  position: absolute;
  transform: translate(-40rem, 6rem) rotateZ(0deg);
  width: 30rem;
}

@keyframes animate-art3 {
  0% {
    transform: translate(-40rem, 6rem) rotateZ(0deg);
  }

  50% {
    transform: translate(-38rem, 7rem) rotateZ(0deg);
  }

  100% {
    transform: translate(-40rem, 6rem) translateZ(0deg);
  }
}

/* MV's section */
.icon-mv1 img {
  position: absolute;
  transform: translate(-36rem, -12rem) rotateZ(30deg);
  width: 18rem;
}

@keyframes animate-mv1 {
  0% {
    transform: translate(-36rem, -14rem) rotateZ(30deg);
  }

  50% {
    transform: translate(-36rem, -14rem) rotateZ(35deg);
    width: 24rem;
  }

  100% {
    transform: translate(-36rem, -14rem) rotateZ(30deg);
  }
}

.icon-mv2 img {
  position: absolute;
  transform: translate(40rem, 20rem) rotateZ(20deg);
  width: 36rem;
}

@keyframes animate-mv2 {
  0% {
    transform: translate(40rem, 20rem) rotateZ(30deg);
  }

  50% {
    transform: translate(35rem, 20rem) rotateZ(50deg);
    width: 30rem;
  }

  100% {
    transform: translate(40rem, 20rem) rotateZ(30deg);
  }
}

.icon-mv3 img {
  position: absolute;
  transform: translate(-20rem, 26rem) rotateZ(0deg);
  width: 26rem;
}

@keyframes animate-mv3 {
  0% {
    transform: translate(-20rem, 26rem) rotateZ(0deg);
  }

  20% {
    transform: translate(-20rem, 26rem) rotateZ(-35deg);
  }

  40% {
    transform: translate(-20rem, 22rem) rotateZ(-35deg);
    width: 16rem;
  }

  60% {
    transform: translate(-20rem, 26rem) rotateZ(-35deg);
    width: 26rem;
  }

  100% {
    transform: translate(-20rem, 26rem) rotateZ(0deg);
  }
}

/* Video Query */

.icon-video1 img {
  position: absolute;
  transform: translate(-64rem, 18rem) rotateZ(16deg);
  width: 22rem;
  animation: animate-video1 7s infinite;
}

@keyframes animate-video1 {
  0% {
    transform: translate(-64rem, 18rem) rotateZ(16deg);
  }

  50% {
    transform: translate(-64rem, 18rem) rotateZ(0deg);
  }

  100% {
    transform: translate(-64rem, 18rem) rotateZ(16deg);
  }
}

/*86.25em  = 1380px */
@media only screen and (max-width: 86.25em) {
  .background-3d {
    background-position: 50rem;
  }

  /* icon */
  /* gear */
  .icon-gear1 img {
    transform: translate(11rem, 18rem);
  }

  @keyframes animate-gear1 {
    0% {
      transform: translate(11rem, 18rem);
    }

    50% {
      transform: translate(11.6rem, 17.6rem);
    }

    100% {
      transform: translate(11rem, 18rem);
    }
  }
  .icon-gear3 img {
    transform: translate(-190%, 100%) rotateZ(20deg);
  }

  @keyframes animate-gear3 {
    0% {
      transform: translate(-190%, 100%) rotateZ(20deg);
    }

    50% {
      transform: translate(-192%, 100%) rotateZ(30deg);
    }

    100% {
      transform: translate(-190%, 100%) translateZ(20deg);
    }
  }

  /* mv's */
  .icon-mv2 img {
    position: absolute;
    transform: translate(30rem, 20rem) rotateZ(20deg);
    width: 36rem;
  }

  @keyframes animate-mv2 {
    0% {
      transform: translate(30rem, 20rem) rotateZ(30deg);
    }

    50% {
      transform: translate(28rem, 20rem) rotateZ(50deg);
      width: 30rem;
    }

    100% {
      transform: translate(30rem, 20rem) rotateZ(30deg);
    }
  }

  /* video */
  .icon-video1 img {
    transform: translate(-55rem, 18rem) rotateZ(16deg);
    width: 18rem;
  }

  @keyframes animate-video1 {
    0% {
      transform: translate(-55rem, 18rem) rotateZ(16deg);
    }

    50% {
      transform: translate(-55rem, 18rem) rotateZ(0deg);
    }

    100% {
      transform: translate(-55rem, 18rem) rotateZ(16deg);
    }
  }

  .icon-video3 img {
    transform: translate(-30rem, 19rem) rotateZ(0deg);
    width: 14rem;
  }

  /* Mv's */
  .icon-mv1 img {
    transform: translate(-34rem, -12rem) rotateZ(30deg);
    width: 14rem;
  }

  @keyframes animate-mv1 {
    0% {
      transform: translate(-34rem, -14rem) rotateZ(30deg);
    }

    50% {
      transform: translate(-34rem, -14rem) rotateZ(35deg);
      width: 20rem;
    }

    100% {
      transform: translate(-34rem, -14rem) rotateZ(30deg);
    }
  }
}

/*78.75em = 1260px */
@media only screen and (max-width: 78.75em) {
  html {
    font-size: 53.125%;
    /* 8.5px */
  }

  .background-3d {
    background-position: 42rem;
  }
}

/*67.5em = 1080px */
@media only screen and (max-width: 78.75em) {
  html {
    font-size: 50%;
    /* 8px */
  }
}

/*62.5em = 1000px */
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 46.875%;
    /* 7.5px */
  }

  .background-3d {
    background-position: 40rem -2rem;
  }

  .background-2d {
    background-position: -2rem -2rem;
  }
}

/*58.4375em = 935px */
@media only screen and (max-width: 58.4375em) {
  html {
    font-size: 43.75%;
    /* 7px */
  }

  /* icon */
  @media only screen and (max-width: 97.8125em) {
    .icon-gear2 img {
      transform: translate(13rem, -11.4rem) rotateZ(30deg);
    }

    @keyframes animate-gear2 {
      0% {
        transform: translate(13rem, -11.4rem) rotateZ(30deg);
      }

      50% {
        transform: translate(13rem, -11.4rem) rotateZ(40deg);
      }

      100% {
        transform: translate(13rem, -11.4rem) translateZ(30deg);
      }
    }
  }
}

/*55em = 880px */
@media only screen and (max-width: 55em) {
  html {
    font-size: 37.5%;
    /* 6px */
  }

  .contain {
    margin-top: 6rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .sub-title p {
    margin-bottom: 5rem;
    text-align: center;
  }

  .contain .team-text {
    width: 100%;
  }

  .contain .team-preview {
    width: 50%;
  }

  .introduction p {
    text-align: center;
  }

  .learn-more {
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* +++++++++++++++++ */

  .sub-title-right p {
    text-align: center;
  }

  .introduction-right p {
    text-align: center;
  }

  .learn-more-right {
    text-align: center;
  }
  /* ================ */
  /* smartphone icon section*/
  .icon-mv3 img {
    position: absolute;
    transform: translate(-62rem, 26rem) rotateZ(0deg);
    width: 28rem;
  }

  @keyframes animate-mv3 {
    0% {
      transform: translate(-62rem, 26rem) rotateZ(0deg);
    }

    50% {
      transform: translate(-62rem, 26rem) rotateZ(20deg);
      width: 22rem;
    }

    100% {
      transform: translate(-62rem, 26rem) rotateZ(0deg);
    }
  }

  .icon-video1 img {
    transform: translate(28rem, 8rem) rotateZ(16deg);
    width: 25rem;
  }

  @keyframes animate-video1 {
    0% {
      transform: translate(28rem, 8rem) rotateZ(16deg);
    }

    50% {
      transform: translate(28rem, 8rem) rotateZ(0deg);
    }

    100% {
      transform: translate(28rem, 8rem) rotateZ(16deg);
    }
  }
}

/* 49.375 = 790px */
@media only screen and (max-width: 49.375em) {
  html {
    font-size: 34.375%;
    /* 5.5px */
  }
}

/* 45em = 720px */
@media only screen and (max-width: 45em) {
  html {
    font-size: 31.25%;
    /* 5px */
  }
}

/* 40em = 640px */
@media only screen and (max-width: 40em) {
  html {
    font-size: 28.125%;
    /* 4.5px */
  }
}

/*6.875em = 590px */
@media only screen and (max-width: 36.875em) {
  html {
    font-size: 25%;
    /* 4px */
  }
  /* smartphone icon */

  /* Mv's ic16 */
  .icon-mv2 img {
    position: absolute;
    transform: translate(30rem, 16rem) rotateZ(20deg);
    width: 36rem;
  }

  @keyframes animate-mv2 {
    0% {
      transform: translate(30rem, 16rem) rotateZ(30deg);
    }

    50% {
      transform: translate(28rem, 16rem) rotateZ(50deg);
      width: 30rem;
    }

    100% {
      transform: translate(30rem, 16rem) rotateZ(30deg);
    }
  }

  .icon-mv3 img {
    position: absolute;
    transform: translate(-62rem, 16rem) rotateZ(0deg);
    width: 28rem;
  }

  @keyframes animate-mv3 {
    0% {
      transform: translate(-62rem, 16rem) rotateZ(0deg);
    }

    50% {
      transform: translate(-62rem, 16rem) rotateZ(20deg);
      width: 22rem;
    }

    100% {
      transform: translate(-62rem, 16rem) rotateZ(0deg);
    }
  }
}
