/* -FONT SIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* !!!  1 rem  =  10px  !!! */

/* ------------- */
/* 3D SECTION */
/* ------------- */

.frame {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* background-color: aqua; */
  /* border: 2px solid aqua; */
  overflow: hidden;
}

.background-3d {
  width: 100%;
  height: 100vh;
  background-color: #030303;
  background-image: url(../asset/bg.jpg);
  background-size: 96rem;
  background-position: 64rem;
  background-repeat: no-repeat;
}

.title {
  width: 100%;
  min-height: 11.4rem;
  /* background-color: greenyellow; */
  font-family: monda;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h2 {
  margin-top: 0.8rem;
  font-size: 7.8rem;
  color: #5ff0a0;
}

.title p {
  margin-top: 0.8rem;
  font-size: 1.8rem;
  color: #fff;
}

.contain {
  width: 100%;
  min-height: 46rem;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* background-color: rebeccapurple; */
}

.contain .team-text {
  width: 50%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-title {
  width: 100%;
  min-height: 11.4rem;
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sub-title p {
  width: 50%;
  /* min-height: 11.4rem; */
  font-size: 3.4rem;
  transform: translateY(50%);
  color: #5ff0a0;
  font-family: monda;
  text-align: left;
  /* background-color: blue; */
  overflow: hidden;
}

.introduction {
  width: 100%;
  min-height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.introduction p {
  width: 50%;
  min-height: 20rem;
  font-size: 1.8rem;
  text-align: left;
  color: #fff;
  font-family: inter;
  /* background-color: brown; */
}

.learn-more {
  width: 50%;
  /* background-color: royalblue; */
}

.learn-more a {
  font-size: 1.6rem;
  font-family: monda;
  text-decoration: none;
  color: #5ff0a0;
}

/* ++++++++++++++++++++++++++ */

.contain .team-preview {
  width: 50%;
  /* background-color: slateblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-title-right {
  width: 100%;
  min-height: 11.4rem;
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sub-title-right p {
  width: 50%;
  /* min-height: 11.4rem; */
  font-size: 3.4rem;
  transform: translateY(50%);
  color: #5ff0a0;
  font-family: monda;
  text-align: right;
  /* background-color: blue; */
  overflow: hidden;
}

.preview-frame {
  width: 70%;
  min-height: 30rem;
  border: #5ff0a0 0.6rem solid;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview-frame2 {
  width: 92%;
  min-height: 24.2rem;
  border-radius: 1%;
  border: #c6e5d4 0.2rem solid;
  background-color: #030303;
}

.icon-gear1 img {
  position: absolute;
  transform: translate(20rem, 18rem);
  width: 18rem;
  animation: animate-gear1 7s infinite;
}

@keyframes animate-gear1 {
  0% {
    transform: translate(20rem, 18rem);
  }

  50% {
    transform: translate(21rem, 17.6rem);
  }

  100% {
    transform: translate(20rem, 18rem);
  }
}

.icon-gear2 img {
  position: absolute;
  transform: translate(20rem, -11.4rem) rotateZ(30deg);
  width: 18rem;
  animation: animate-gear2 10s infinite;
}

@keyframes animate-gear2 {
  0% {
    transform: translate(20rem, -11.4rem) rotateZ(30deg);
  }

  50% {
    transform: translate(20rem, -11.4rem) rotateZ(40deg);
  }

  100% {
    transform: translate(20rem, -11.4rem) translateZ(30deg);
  }
}

/* -38rem 18rem 20deg */
.icon-gear3 img {
  position: absolute;
  transform: translate(-217%, 100%) rotateZ(20deg);
  width: 16.8rem;
  animation: animate-gear3 10s infinite;
}

@keyframes animate-gear3 {
  0% {
    transform: translate(-217%, 100%) rotateZ(20deg);
  }

  50% {
    transform: translate(-210%, 100%) rotateZ(30deg);
  }

  100% {
    transform: translate(-217%, 100%) translateZ(20deg);
  }
}

/* -------------- */
/* Art's section*/
/* -------------- */
.background-2d {
  width: 100%;
  height: 100vh;
  background-color: #030303;
  background-image: url(../asset/art-bg.jpg);
  background-size: 96rem;
  background-position: 10rem;
  background-repeat: no-repeat;
}

.sub-title p {
  width: 50%;
  /* min-height: 11.4rem; */
  font-size: 3.4rem;
  transform: translateY(50%);
  color: #5ff0a0;
  font-family: monda;
  text-align: left;
  /* background-color: blue; */
  overflow: hidden;
}

.introduction-right {
  width: 100%;
  min-height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.introduction-right p {
  width: 50%;
  min-height: 20rem;
  font-size: 1.8rem;
  text-align: right;
  color: #fff;
  font-family: inter;
  /* background-color: brown; */
}

.learn-more-right {
  width: 50%;
  /* background-color: royalblue; */
  text-align: right;
}

.learn-more-right a {
  font-size: 1.6rem;
  font-family: monda;
  text-decoration: none;
  color: #5ff0a0;
}

/* ++++++++++++++++ */

.icon-art1 img {
  position: absolute;
  transform: translate(24rem, -9rem) rotateZ(45deg);
  width: 20rem;
  animation: animate-art1 7s infinite;
}

@keyframes animate-art1 {
  0% {
    transform: translate(24rem, -9rem) rotateZ(45deg);
  }

  50% {
    transform: translate(24rem, -9rem) rotateZ(25deg);
  }

  100% {
    transform: translate(24rem, -9rem) rotateZ(45deg);
  }
}

.icon-art2 img {
  position: absolute;
  transform: translate(18rem, 16rem) rotateZ(20deg);
  width: 24rem;
  animation: animate-art2 10s infinite;
}

@keyframes animate-art2 {
  0% {
    transform: translate(18rem, 16rem) rotateZ(20deg);
  }

  50% {
    transform: translate(18rem, 16rem) rotateZ(35deg);
  }

  100% {
    transform: translate(18rem, 16rem) translateZ(20deg);
  }
}

.icon-art3 img {
  position: absolute;
  transform: translate(-48rem, 6rem) rotateZ(0deg);
  width: 32rem;
  animation: animate-art3 7s infinite;
}

@keyframes animate-art3 {
  0% {
    transform: translate(-48rem, 6rem) rotateZ(0deg);
  }

  50% {
    transform: translate(-44rem, 7rem) rotateZ(0deg);
  }

  100% {
    transform: translate(-48rem, 6rem) translateZ(0deg);
  }
}

/* --------------- */
/* MV's section */
/* --------------- */
.icon-mv1 img {
  position: absolute;
  transform: translate(-40rem, -14rem) rotateZ(30deg);
  width: 22rem;
  animation: animate-mv1 15s infinite;
}

@keyframes animate-mv1 {
  0% {
    transform: translate(-40rem, -14rem) rotateZ(30deg);
  }

  50% {
    transform: translate(-40rem, -14rem) rotateZ(35deg);
    width: 24rem;
  }

  100% {
    transform: translate(-40rem, -14rem) rotateZ(30deg);
  }
}

.icon-mv2 img {
  position: absolute;
  transform: translate(50rem, 20rem) rotateZ(20deg);
  width: 38rem;
  animation: animate-mv2 15s infinite;
}

@keyframes animate-mv2 {
  0% {
    transform: translate(50rem, 20rem) rotateZ(30deg);
  }

  50% {
    transform: translate(45rem, 20rem) rotateZ(50deg);
    width: 30rem;
  }

  100% {
    transform: translate(50rem, 20rem) rotateZ(30deg);
  }
}

.icon-mv3 img {
  position: absolute;
  transform: translate(-20rem, 26rem) rotateZ(0deg);
  width: 34rem;
  animation: animate-mv3 30s infinite;
}

@keyframes animate-mv3 {
  0% {
    transform: translate(-20rem, 26rem) rotateZ(0deg);
  }

  20% {
    transform: translate(-20rem, 26rem) rotateZ(-35deg);
  }

  40% {
    transform: translate(-20rem, 22rem) rotateZ(-35deg);
    width: 28rem;
  }

  60% {
    transform: translate(-20rem, 26rem) rotateZ(-35deg);
    width: 34rem;
  }

  100% {
    transform: translate(-20rem, 26rem) rotateZ(0deg);
  }
}

/* -------------- */
/* Video's section */
/* -------------- */
.icon-video1 img {
  position: absolute;
  transform: translate(-84rem, 18rem) rotateZ(16deg);
  width: 28rem;
  animation: animate-video1 7s infinite;
}

@keyframes animate-video1 {
  0% {
    transform: translate(-84rem, 18rem) rotateZ(16deg);
  }

  50% {
    transform: translate(-84rem, 18rem) rotateZ(0deg);
  }

  100% {
    transform: translate(-84rem, 18rem) rotateZ(16deg);
  }
}

.icon-video2 img {
  position: absolute;
  transform: translate(10rem, -18rem) rotateZ(0deg);
  width: 23rem;
  animation: animate-video2 15s infinite;
}

@keyframes animate-video2 {
  0% {
    transform: translate(10rem, -18rem) rotateZ(0deg);
  }

  50% {
    transform: translate(10rem, -18rem) rotateZ(0deg);
  }

  100% {
    transform: translate(10rem, -18rem) rotateZ(0deg);
  }
}

.icon-video3 img {
  position: absolute;
  transform: translate(-38.2rem, 17.2rem) rotateZ(0deg);
  width: 18rem;
}

/* ------------------ */
/* Footer Section */
/* ------------------ */
.footer-frame {
  position: relative;
  width: 100%;
  background-color: #030303;
}

.thank-you {
  width: 100%;
  min-height: 18rem;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.thank-you h3 {
  margin-top: 3rem;
  font-size: 7.8rem;
  font-family: monda;
  /* background-color: blue; */
  color: #5ff0a0;
}

.thank-you p {
  margin-top: 0.8rem;
  font-size: 1.8rem;
  font-family: monda;
  color: #fff;
}

/* +++++++++++++++++++ */
.footer-contain {
  width: 100%;
  min-height: 42rem;
  /* background-color: blue; */
}
/* +++++++++++++++++++ */

.footer-earth {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-earth img {
  width: 100%;
}
