header {
  height: 100vh;
}

.h-container {
  /* border: 2px solid red; */
  background-color: black;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'h-top'
    'logo'
    'h-bottom';
  grid-template-rows: 1fr 3fr 1fr;
}

.h-top {
  grid-area: h-top;
  display: flex;
  justify-content: center;
}

.h-top p {
  /* text-align: center; */
  color: #5ff0a0;
  font-size: 3rem;
}

.main-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo img {
  height: 28rem;
  opacity: 0.4;
}

.h-bottom {
  grid-area: h-bottom;
}

.h-bottom img {
  height: 10rem;
  margin-left: 24rem;
  opacity: 0.4;
  transform: rotateZ(-40deg);
}

/* ================ */
/* Start 3d section */
/* ================ */
.cg {
  width: 100%;
  /* border: 2px solid red; */
}

.cg-container {
  display: grid;
  min-height: 96vh;
  grid-template-areas:
    'cg-top cg-top'
    'cg-left cg-right'
    'cg-bottom cg-bottom';
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
}

/* ------ */
.cg-top {
  position: relative;
  grid-area: cg-top;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}

.cg-top .cg-title {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cg-title h2 {
  font-size: 8.6rem;
  color: #5ff0a0;
}

.cg-pre {
  position: absolute;
  /* background-color: black; */
  margin-top: 8rem;
  width: 20%;
  text-align: center;
}

.cg-pre p {
  font-size: 3rem;
  color: #5ff0a0;
}

.cg-decor {
  margin-top: 3rem;
  width: 5%;
  height: 0.4rem;
  background-color: #5ff0a0;
}

/* ----- */
.cg-main-left {
  grid-area: cg-left;
  width: 100%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container {
  /* background-color: rebeccapurple; */
  width: 100%;
  height: 36rem;
}

.about-us {
  /* background-color: aqua; */
  width: 100%;
  height: 8rem;
}

.about-us h2 {
  font-size: 5rem;
  margin-left: 10rem;
  padding-top: 2.6rem;
  color: #5ff0a0;
}

.cg-info {
  width: 88%;
  min-height: 18rem;
  /* background-color: aqua; */
}

.cg-info p {
  font-size: 2.2rem;
  padding-top: 2rem;
  margin-left: 10rem;
  color: #5ff0a0;
}

.learn-more {
  /* background-color: chartreuse; */
  width: 100%;
  height: 3rem;
}

.learn-more a {
  text-decoration: none;
  margin-left: 10rem;
  font-size: 1.8rem;
  color: #5ff0a0;
}
/* ---- */

.cg-main-right {
  grid-area: cg-right;
  /* background-color: burlywood; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-container {
  border: 0px solid black;
}

.thumbnail-container img {
  height: 36rem;
}
/* --------------- */
/* End 3d Section */
/* -------------- */

/* ============= */
/* Start Art Section */
/* ============= */
.art {
  width: 100%;
  /* border: 2px solid red; */
}

.art-container {
  display: grid;
  min-height: 96vh;
  grid-template-areas:
    'art-top art-top'
    'art-left art-right'
    'art-bottom art-bottom';
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
}

/* ------ */
.art-top {
  position: relative;
  grid-area: art-top;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}

.art-top .art-title {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art-title h2 {
  font-size: 8.6rem;
  color: #5ff0a0;
}

.art-pre {
  position: absolute;
  /* background-color: black; */
  margin-top: 8rem;
  width: 20%;
  text-align: center;
}

.art-pre p {
  font-size: 3rem;
  color: #5ff0a0;
}

.art-decor {
  margin-top: 3rem;
  width: 5%;
  height: 0.4rem;
  background-color: #5ff0a0;
}

/* ----- */
.art-main-left {
  /* I changed the grid here.. */
  grid-area: art-right;
  width: 100%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container-right {
  /* background-color: rebeccapurple; */
  width: 100%;
  height: 36rem;
}

.right-about-us {
  /* background-color: aqua; */
  width: 100%;
  height: 8rem;
  text-align: right;
}

.right-about-us h2 {
  font-size: 5rem;
  margin-right: 10rem;
  padding-top: 2.6rem;
  color: #5ff0a0;
}

.art-info {
  width: 88%;
  margin-left: 3rem;
  min-height: 18rem;
  /* background-color: aqua; */
  text-align: right;
}

.art-info p {
  font-size: 2.2rem;
  padding-top: 2rem;
  margin-left: 10rem;
  color: #5ff0a0;
}

.right-learn-more {
  /* background-color: chartreuse; */
  width: 100%;
  height: 3rem;
  text-align: right;
}

.right-learn-more a {
  text-decoration: none;
  margin-right: 10rem;
  font-size: 1.8rem;
  color: #5ff0a0;
}
/* ---- */

.art-main-right {
  /* I change the grid here.. */
  grid-area: art-left;
  /* background-color: burlywood; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-container {
  border: 0px solid black;
}

.thumbnail-container img {
  height: 36rem;
}

/* --------------- */
/* End Art Section */
/* --------------- */

/* --------------- */
/* Start Mv's Section */
/* --------------- */
.mv {
  width: 100%;
  /* border: 2px solid red; */
}

.mv-container {
  display: grid;
  min-height: 96vh;
  grid-template-areas:
    'mv-top mv-top'
    'mv-left mv-right'
    'mv-bottom mv-bottom';
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
}

/* ------ */
.mv-top {
  position: relative;
  grid-area: mv-top;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}

.mv-top .mv-title {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mv-title h2 {
  font-size: 8.6rem;
  color: #5ff0a0;
}

.mv-pre {
  position: absolute;
  /* background-color: black; */
  margin-top: 8rem;
  width: 20%;
  text-align: center;
}

.mv-pre p {
  font-size: 3rem;
  color: #5ff0a0;
}

.mv-decor {
  margin-top: 3rem;
  width: 5%;
  height: 0.4rem;
  background-color: #5ff0a0;
}

/* ----- */
.mv-main-left {
  grid-area: mv-left;
  width: 100%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container {
  /* background-color: rebeccapurple; */
  width: 100%;
  height: 36rem;
}

.about-us {
  /* background-color: aqua; */
  width: 100%;
  height: 8rem;
}

.about-us h2 {
  font-size: 5rem;
  margin-left: 10rem;
  padding-top: 2.6rem;
  color: #5ff0a0;
}

.mv-info {
  width: 88%;
  min-height: 18rem;
  /* background-color: aqua; */
}

.mv-info p {
  font-size: 2.2rem;
  padding-top: 2rem;
  margin-left: 10rem;
  color: #5ff0a0;
}

.learn-more {
  /* background-color: chartreuse; */
  width: 100%;
  height: 3rem;
}

.learn-more a {
  text-decoration: none;
  margin-left: 10rem;
  font-size: 1.8rem;
  color: #5ff0a0;
}
/* ---- */

.mv-main-right {
  grid-area: mv-right;
  /* background-color: burlywood; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-container {
  border: 0px solid black;
}

.thumbnail-container img {
  height: 36rem;
}

/* ------------ */
/* End Mv section*/
/* ------------ */

/* =============== */
/* Start Video Section*/
/* =============== */
.video {
  width: 100%;
  /* border: 2px solid red; */
}

.video-container {
  display: grid;
  min-height: 96vh;
  grid-template-areas:
    'video-top video-top'
    'video-left video-right'
    'video-bottom video-bottom';
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
}

/* ------ */
.video-top {
  position: relative;
  grid-area: video-top;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}

.video-top .video-title {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-title h2 {
  font-size: 8.6rem;
  color: #5ff0a0;
}

.video-pre {
  position: absolute;
  /* background-color: black; */
  margin-top: 8rem;
  width: 20%;
  text-align: center;
}

.video-pre p {
  font-size: 3rem;
  color: #5ff0a0;
}

.video-decor {
  margin-top: 3rem;
  width: 5%;
  height: 0.4rem;
  background-color: #5ff0a0;
}

/* ----- */
.video-main-left {
  /* I changed the grid here.. */
  grid-area: video-right;
  width: 100%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container-right {
  /* background-color: rebeccapurple; */
  width: 100%;
  height: 36rem;
}

.right-about-us {
  /* background-color: aqua; */
  width: 100%;
  height: 8rem;
  text-align: right;
}

.right-about-us h2 {
  font-size: 5rem;
  margin-right: 10rem;
  padding-top: 2.6rem;
  color: #5ff0a0;
}

.video-info {
  width: 88%;
  min-height: 18rem;
  /* background-color: aqua; */
  text-align: right;
  margin-left: 3rem;
}

.video-info p {
  font-size: 2.2rem;
  padding-top: 2rem;
  margin-left: 10rem;
  color: #5ff0a0;
}

.right-learn-more {
  /* background-color: chartreuse; */
  width: 100%;
  height: 3rem;
  text-align: right;
}

.right-learn-more a {
  text-decoration: none;
  margin-right: 10rem;
  font-size: 1.8rem;
  color: #5ff0a0;
}
/* ---- */

.video-main-right {
  /* I change the grid here.. */
  grid-area: video-left;
  /* background-color: burlywood; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-container {
  border: 0px solid black;
}

.thumbnail-container img {
  height: 36rem;
}
/* =============== */
/* End Video Section*/
/* =============== */

/* -------------- */
/* Start footer */
/* ------------- */
footer {
  width: 100%;
  background-color: black;
}

footer .f-container {
  width: 100%;
  min-height: 60vh;
  display: grid;
  grid-template-areas: 'ft-left ft-middle ft-right';
  grid-template-columns: 1fr 1.5fr 1fr;
}

.ft-left {
  grid-area: ft-left;
  width: 100%;
  /* margin-left: 2rem; */
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ft-cg {
  width: 80%;
  margin-top: 6rem;
  /* background-color: blueviolet; */
  min-height: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.ft-cg a {
  font-size: 3.8rem;
  text-decoration: none;
  color: #5ff0a0;
}

.ft-art {
  width: 80%;
  margin-top: 0.8rem;
  /* background-color: blueviolet; */
  min-height: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.ft-art a {
  font-size: 3.8rem;
  text-decoration: none;
  color: #5ff0a0;
}

.ft-mv {
  width: 80%;
  margin-top: 0.8rem;
  /* background-color: blueviolet; */
  min-height: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.ft-mv a {
  font-size: 3.8rem;
  text-decoration: none;
  color: #5ff0a0;
}

.ft-video {
  width: 80%;
  margin-top: 0.8rem;
  /* background-color: blueviolet; */
  min-height: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.ft-video a {
  font-size: 3.8rem;
  text-decoration: none;
  color: #5ff0a0;
}

.ft-logo {
  width: 100%;
  min-height: 44rem;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ft-logo img {
  width: 20rem;
  height: 20rem;
}

.ft-thank {
  width: 100%;
  min-height: 14.8rem;
  /* background-color: chartreuse; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ft-thank p {
  font-size: 4rem;
  color: #5ff0a0;
}

.ft-right {
  grid-area: ft-right;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ft-about {
  width: 80%;
  margin-top: 6rem;
  height: 5rem;
  /* background-color: aqua; */
  text-align: right;
}

.ft-about a {
  font-size: 3.8rem;
  text-decoration: none;
  color: #5ff0a0;
}

.ft-member {
  margin-top: 0.8rem;
  width: 80%;
  height: 5rem;
  text-align: right;
}

.ft-member a {
  font-size: 3.8rem;
  text-decoration: none;
  color: #5ff0a0;
}
