@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

$color_bg: #0a0a0a;
$color_primary: #00ff9f;

html {
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
  font-family: "Oswald", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  visibility: none;
}

::-webkit-scrollbar-thumb {
  background-color: $color_primary;
  border-radius: 2.5px;
}

.loader {
  position: fixed;
  background-color: $color_bg;
  z-index: 1000;
  .loader_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    width: 100vw;
    height: 100vh;
    #logo {
      width: 35rem;
    }
  }
}

.overlay_contents {
  background-color: #0a0a0a88;
  position: fixed;
  z-index: 500;
  .overlay_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top_section {
      width: 100vw;
      height: 85%;
      display: flex;
      .texts {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 8%;
        color: #fff;
        .title {
          font-size: 10rem;
          margin-bottom: 2rem;
          color: $color_primary;
        }
        .description {
          font-size: 2rem;
        }
      }
      .carousel_container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        .carousel {
          width: 50%;
          height: 100%;
        }
      }
    }
  }
  .close_overlay {
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
  }
}

.wrapper {
  .knob {
    cursor: pointer;
    position: fixed;
    z-index: 99;
    left: 46%;
    top: -20px;
    transition: 0.2s ease-in-out;
    &:hover {
      top: 0px;
    }
    .image_container {
      display: block;
      img {
        width: 10rem;
      }
    }
  }
  .header {
    z-index: 100;
    position: fixed;
    top: -80px;
    height: 80px;
    width: 100vw;
    background-color: $color_primary;
    .header_container {
      height: 80px;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      .header_nav {
        margin-left: auto;
        margin-right: 8%;
        .nav_container {
          .nav_list {
            display: flex;
            align-items: center;
            list-style: none;
            text-decoration: none;
            margin-right: 2rem;
            a {
              text-decoration: none;
              color: $color_bg;
              font-size: 1.5rem;
              font-weight: 400;
            }
            li + li {
              margin-left: 2rem;
            }
            li {
              transform: none;
              transition: 0.2s ease-out;
              &:hover {
                transform: scale(1.2);
              }
            }
            .up_arrow {
              width: 1.5rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .main {
    max-width: 100vw;
    overflow: hidden;
    will-change: transform;
    background-color: $color_bg;
    .main_wrapper {
      section {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
          color: #fff;
        }
        .headline_container {
          margin-top: 5rem;
          position: relative;
          display: flex;
          justify-content: center;
          width: 100vw;
          height: 10rem;
          .headline {
            height: 10rem;
          }
        }
        .main_container {
          .texts {
            width: 100%;
            height: 100%;
            display: flex;
            justify-self: center;
            align-items: center;
            padding-left: 10vw;
            .texts_container {
              display: block;
              .text_aboutus {
                width: 12rem;
                margin-bottom: 2rem;
              }
              .description {
                font-size: 1.2rem;
                width: 80%;
                word-wrap: normal;
                color: #fff;
                margin-bottom: 2rem;
              }
              .learn_more {
                .img {
                  width: 10rem;
                  height: 3rem;
                  cursor: pointer;
                }
              }
            }
          }
          .preview {
            margin-right: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .frame {
              width: 75%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-image: url("./assets/component/frame.svg");
              background-position: center;
              background-size: 100%;
              padding: 2rem;
              .frame_image {
                width: 100%;
              }
            }
          }
        }
        &:nth-child(even) {
          .main_container {
            padding-bottom: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .learn_more {
              .img {
                background-image: url("./assets/component/learnmore_right.svg");
                transform: none;
                transition: 0.2s ease-out;
                &:hover {
                  transform: translateX(10px);
                }
              }
            }
          }
        }
        &:nth-child(odd) {
          .main_container {
            padding-bottom: 10rem;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .texts {
              padding-left: 0;
              padding-right: 10vw;
              .texts_container {
                display: flex;
                flex-direction: column;
                align-items: end;
                text-align: right;
              }
            }
            .learn_more {
              .img {
                background-image: url("./assets/component/learnmore_left.svg");
                background-position: right;
                transform: none;
                transition: 0.2s ease-out;
                &:hover {
                  transform: translateX(-10px);
                }
              }
            }
          }
        }
      }

      #top {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../assets/gif/background_image_dark.gif");
        background-size: cover;
        #logo {
          width: 35rem;
        }
      }
    }
  }

  .footer {
    background-color: $color_bg;
    .footer_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      .right {
        display: flex;
        align-items: center;
        width: 30rem;
        height: 100%;
      }
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40rem;
        #logo {
        }
      }
      .left {
        display: flex;
        align-items: center;
        width: 30rem;
        height: 100%;
        text-align: right;
      }
      .list {
        list-style: none;
        a {
          text-decoration: none;
          color: $color_primary;
          font-size: 5rem;
          &:hover {
            color: #fff;
          }
        }
        li,
        li + li {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.pointer {
  cursor: pointer;
}

.invisible {
  display: none;
}

.glitch_container {
  animation: glitch 1s linear infinite;
  &::before,
  &::after {
    content: attr(title);
    position: absolute;
    left: 0;
  }
  &::before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
}

//<--Animation-->
@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
